<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties resource="example/mybatis/blog/dataresources.properties"/>
	<typeAliases>
		<typeAlias type="example.mybatis.blog.domain.Author" />
		<typeAlias type="example.mybatis.blog.domain.Blog" />
		<typeAlias type="example.mybatis.blog.domain.Post" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="example/mybatis/blog/mapper/AuthorMapper.xml" />
		<mapper resource="example/mybatis/blog/mapper/BlogMapper.xml" />
		<mapper resource="example/mybatis/blog/mapper/PostMapper.xml" />
	</mappers>


</configuration>